.header {
  margin: 4rem auto 5rem 10rem;
  width: 50%;
}

@media (max-width: 600px) {
  .header {
    margin: 7em auto 0;
    width: 90%;
  }

  .header__text {
    margin: 1em auto;
    text-align: justify;
  }
}
