.screenStructure {
  display: flex;
  background-color: white;
  align-items: stretch;
}

.mainSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 3rem 0 6rem;
  width: 60%;
}

.introText {
  padding: 5% 0;
  height: 30%;
}

.sideContainer {
  display: flex;
  position: fixed;
  right: 0;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  border-radius: 4.5rem 0 0 4.5rem;
  background-color: var(--primary-dark);
}

.sideImage {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .mainSection {
    width: 80%
  }

  .sideContainer {
    width: 20%;
  }
}

@media (max-width: 480px) {
  .mainSection {
    align-items: center;
    width: 100%;
    padding: 0 3rem 0;
  }

  .sideContainer {
    width: 0;
  }
}
