.list-card {
    display: flex;
    margin-bottom: 3.75rem;
    width: 90%;
    height: 12rem;
    border: 1px solid var(--primary);
    border-radius: 24px;
    box-shadow: 0 .625px .625px var(--primary);
    overflow: hidden;
}

.list-card_clickable {
    cursor: pointer;
}

.list-card-half {
    width: 50%;
    padding: 1.25rem 1.25rem 0 1.25rem;
}

.list-card-header{
    background-color: var(--primary-light);
}

.list-card-body {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--neutral-1);
}

.list-card-body__division_general-info {
    width: calc(100% / 3);
}

.list-card-body__division_duration {
    width: calc(100% / 3);
}

.list-card-body__division_progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3);
}

.list-card-half__header {
    height: 3.125rem;
    font-size: 1.75rem;
    color: var(--neutral-3);
}

.list-card-half__body {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-break: loose;
}

.list-card-half__text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 80%;
    height: 50%;
    overflow: hidden;
    line-break: loose;
}

@media (max-width: 480px) {
    .list-card {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
    }

    .list-card-half {
        width: 100%;
        padding: 0 0 0 1.25rem;
    }

    .list-card-half__header {
        height: 2.5rem;
        font-size: 1rem;
        color: var(--neutral-3);
    }

    .list-card-half__text {
        width: 80%;
        height: 100%;
        padding-bottom: .5rem;
    }
}


