.buttonArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.buttonArea a {
  color: var(--secondary);
}

.buttonElement {
  margin: 4.5rem auto 2.5rem;
  width: 80%;
  height: 8rem;
  background-color: var(--secondary);
}
