.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

.modal.show {
  display: block;
}

.modal__content {
  width: 40%;
  height: 90%;
  top:50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  overflow: auto;
  border: 1px solid var(--primary);
  border-radius: 20px;
  background-color: var(--neutral-1);
}

.modal__body {
  width: 100%;
  height: 100%;
  padding: 15px 50px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
  background-color: var(--primary-light);
}

.modal__header h2 {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal__header__close_button {
  display: flex;
  justify-items: center;
  align-items: center;

  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.modal__header__close_button:hover,
.modal__header__close_button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  height: 50%;
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  /* display: hidden; */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark);
}

@media (max-width: 1024px) {
  .modal__content{
    width: 60%;
  }
}

@media (max-width: 480px) {
  .modal__content{
    width: 90%;
  }
}

