.track-card {
  display: flex;
  flex-direction: column ;
  justify-content: flex-end;
  width: 30%;
  aspect-ratio: 1;
  border: 1px solid var(--primary-light);
  border-radius: 12px;
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25));
  background: var(--secondary);
}

.track-card:hover {
  cursor: pointer;
}

.track-card__image {
  align-self: center;
  margin-bottom: 2em;
  width: 12em;
}

.track-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 12.875em;
  border-radius: 0px 0px 12px 12px;
  background: var(--neutral-1);
  text-align: center;
}

.track-duration {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.track-duration__image {
  margin: .25em;
  width: 2.5em;
}


@media (max-width: 600px) {
  .track-card {
    margin: 1em;
    width: 31.25em;
    max-width: 90%;
  }
}
