@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@400;600;700&display=swap');

/* order of properties:
el {
  google fonts properties in the order they appear
  font-family: ;
  font-weight: ;
  font-style: ;
  font-size: ;

  dimensional properties
  font-size: ;
  line-height: ;
  letter-spacing: ;

  decoration
  color: ;
  text-decoration: ;
} */

h1 {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 4rem;
  letter-spacing: 0.03rem;
  color: var(--neutral-4);
}

h2 {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0.03rem;
  color: var(--neutral-4);
}

h3 {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  font-size: 1.875rem;
  line-height: 3rem;
  letter-spacing: 0.03rem;
  color: var(--neutral-4);
}

h4 {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.03rem;
  color: var(--neutral-4);
}

p {
  font-family: 'Nunito';
  font-weight: 400;
  font-style: normal;
  font-size: 1.625rem;
  line-height: 160%;
  color: var(--neutral-3);
}

label {
  font-family: 'Nunito';
  font-weight: 700;
  font-style: normal;
  font-size: 1.625rem;
  line-height: 2rem;
  color: var(--neutral-4);
}

input {
  font-family: 'Nunito';
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--neutral-4);
}

input::placeholder {
  font-family: 'Nunito';
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--neutral-3);
}

button {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  font-size: 1.75rem;
  line-height: 160%;
  color: #FFFFFF;
}

a {
  font-family: 'Nunito';
  font-weight: 400;
  font-style: normal;
  font-size: 1.625rem;
  line-height: 160%;
  color: unset;
  text-decoration: none;
}
