@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@400;600;700&display=swap');

h1 {
  color: #333333;
  font-family: 'Poppins';
  font-size: 2.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 4em;
  letter-spacing: 0.03em;
}

h2 {
  color: #333333;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 2em;
  font-weight: 600;
  line-height: 4em;
  letter-spacing: 0.03em;
}

h3 {
  color: #333333;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 1.875em;
  line-height: 3em;
  letter-spacing: 0.03em;
}

h4 {
  color: #333333;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 2em;
  letter-spacing: 0.03em;
}

p {
  color: #555555;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 1.625em;
  line-height: 160%;
}

label {
  color: #333333;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 1.625em;
  line-height: 2em;
}

input::placeholder {
  color: #555555;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-size: 1.25px;
  line-height: 2em;
}