@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@400;600;700&display=swap');

:root {
  --lightOrange: #FF8B65;
  --mediumOrange: #FF5A23;
  --darkOrange: #D14111;
  --text-primary: #333333;
  --text-secondary: #555555;
  --gray-600: #334D6E;
  --gray-300: #B3BECC;
  --gray-100: #C2D2E7;
  --gray-50: #F7F7F9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-weight: 400;
  line-height: 35px;
  font-family: 'Nunito';
  font-style: normal;
}

body {
  height: 100vh;
  background: linear-gradient(180deg, var(--gray-100) 50%, #fafafa 50%);
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: unset;
}

/* tipo-peso-tamanho */

.title-b-l, .title-sb-l, .title-b-m, .text-r-sm, .title-b-sm, .text-r-m {
  font-family: 'Poppins';
  font-style: normal;
  line-height: 160%;
  letter-spacing: 0.03em;
}

.title-b-l, .title-sb-l, .title-b-m,.title-b-sm {
  color: var(--text-primary);
}


.text-r-sm, .text-r-m , .label-b-m, .label-uppercase, .label-r-sm {
  color: var(--text-secondary);
}

.title-b-l {
  font-weight: 700;
  font-size: 40px;
}

.title-sb-l {
  font-weight: 600;
  font-size: 40px;
}

.title-b-m {
  font-weight: 700;
  font-size: 30px;
}

.title-b-sm {
  font-weight: 700;
  font-size: 20px;
}

.text-r-sm, .text-r-m {
  font-weight: 500;
  font-size: 20px;
}

.text-r-m {
  font-size: 24px;
}

.label-b-m, .label-uppercase, .label-r-sm {
  font-family: 'Nunito';
  font-style: normal;
  
}

.label-uppercase {
  font-family: 'Poppins';
}

.label-b-m {
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
}

.label-uppercase {
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
}

.label-r-sm {
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
}

@media (max-width: 1600px) {
  .title-b-l, .title-sb-l {
    font-size: 30px;
  }
  
  .title-b-m {
    font-size: 22px;
  }
  
  .title-b-sm, .text-r-sm {
    font-size: 14px;
  }
  
  .text-r-m, .label-uppercase {
    font-size: 17.2px;
  }
  
  .label-r-sm, .label-b-m {
    font-size: 19.8px;
  }
}