.create-content__button {
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4.5rem auto 2.5rem;
  width:  24rem;
  height: 5rem;
  text-align: center;
}

.edit-content__button {
  background-color: var(--secondary-dark);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4.5rem auto 2.5rem;
  width:  10rem;
  height: 3rem;
}

